extends layout

block content
    link(rel='stylesheet', href='/stylesheets/pages/navBar.css')
    link(rel='stylesheet', href='/stylesheets/pages/editar.css')

    nav.navbar#nav
        a(href="/")
        .nav-items
          a.retirarLink(href="/ucs")   
            button#botao_adicionar_UC Lista de UCs
          a.retirarLink(href="/logout")
            button#botao_terminar_sessao Terminar Sessão

    .w3-card-4
      header.w3-container.w3-white
        h2 Edite as datas
        .separador-header
      
      form.w3-container(method="POST")
        fieldset
          legend Datas e Salas
          label(for="teste") Teste
          input.w3-input.w3-round(type="text", name="teste", placeholder=(datas.teste === "???" || datas.teste === "" ? "Ano/Mês/Dia;Informação das salas" : ""), value=datas.teste)
          label(for="exame") Exame
          input.w3-input.w3-round(type="text", name="exame", placeholder=(datas.exame === "???" || datas.exame === "" ? "Ano/Mês/Dia;Informação das salas" : ""), value=datas.exame)
          label(for="projeto") Projeto
          input.w3-input.w3-round(type="text", name="projeto", placeholder=(datas.projeto === "???" || datas.projeto === "" ? "Ano/Mês/Dia;Informação das salas" : ""), value=datas.projeto)

        button.w3-btn.w3-teal.w3-mb-2(type="submit", style="margin-top:10px") Atualizar
      
      footer.w3-container.w3-ligthgray(style="margin-top:10px")
        a.retirarLink(href=`/ucs/${idUC}`)   
          button#botao_voltar Voltar
